/* Homepages - Index Event 2 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
.sidebar .widget .widget-title,
.footer .widget .widget-title {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.02em;
}

h1, .h1 {
  font-size: 26px;
}

h2, .h2 {
  font-size: 22px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 14px;
}

.service .service-title,
.footer .widget .widget-title,
.count-title {
  font-size: 16px;
}

/* jQuery Countdown styles 2.0.0. */
.countdown-section {
  position: relative;
  display: block;
  float: left;
  text-align: inherit;
}

.countdown-section + .countdown-section:before {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.countdown-period {
  display: block;
}

.countdown-descr {
  display: block;
  width: 100%;
}

.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px;
  text-align: inherit;
}

.countdown-row:after {
  content: '';
  display: table;
  clear: both;
}

.countdown-show1 .countdown-section {
  width: 98%;
}

.countdown-show2 .countdown-section {
  width: 48%;
}

.countdown-show3 .countdown-section {
  width: 32.5%;
}

.countdown-show4 .countdown-section {
  width: 24.5%;
}

.countdown-show5 .countdown-section {
  width: 19.5%;
}

.countdown-show6 .countdown-section {
  width: 16.25%;
}

.countdown-show7 .countdown-section {
  width: 14%;
}

.event-count-container {
  padding: 25px 15px 25px;
  background-color: #0069b0;
  margin-top: -50px;
}

@media (min-width: 768px) {
  .event-count-container {
    padding: 30px 20px 30px;
    margin-top: -50px;
  }
}

@media (min-width: 992px) {
  .event-count-container {
    padding: 40px 30px 40px;
    margin-top: -70px;
  }
}

.event-count-container h2 {
  line-height: 1.4;
  color: #fff;
  text-align: left;
}

@media (min-width: 768px) {
  .event-count-container h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .event-count-container h2 {
    font-size: 18px;
  }
}

.event-countdown {
  margin: 0;
}

.text-center .event-countdown {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .event-countdown {
    font-size: 16px;
  }
}

.event-countdown .countdown-amount {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  line-height: 0.8;
}

@media (min-width: 768px) {
  .event-countdown .countdown-amount {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .event-countdown .countdown-amount {
    font-size: 38px;
  }
}

.event-countdown .countdown-period {
  font-size: 13px;
  font-weight: 400;
  color: #eee;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .event-countdown .countdown-period {
    font-size: 14px;
    line-height: 1.6;
  }
}

@media (min-width: 992px) {
  .event-countdown .countdown-period {
    font-size: 15px;
    line-height: 1.7;
  }
}

.fullscreen.vertical-center .vcenter-content p,
.fullheight.vertical-center .vcenter-content p {
  display: block;
}

.nav-pills-gray.nav-pills {
  margin-bottom: 40px;
  text-align: center;
  font-size: 0;
}

@media (max-width: 767px) {
  .nav-pills-gray.nav-pills {
    margin-bottom: 30px;
  }
}

.nav-pills-gray.nav-pills > li {
  float: none;
  display: inline-block;
  min-width: 170px;
  font-size: 13px;
}

@media (min-width: 992px) {
  .nav-pills-gray.nav-pills > li {
    min-width: 185px;
  }
}

@media (min-width: 1200px) {
  .nav-pills-gray.nav-pills > li {
    min-width: 200px;
  }
}

@media (max-width: 767px) {
  .nav-pills-gray.nav-pills > li {
    display: block;
    width: 100%;
  }
}

.nav-pills-gray.nav-pills > li + li {
  margin: 0;
}

.nav-pills-gray.nav-pills > li + li > a {
  border-left-color: #fff;
}

.nav-pills-gray.nav-pills > li > a {
  position: relative;
  color: #222;
  background-color: #ebebeb;
  border-left: 1px solid transparent;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .nav-pills-gray.nav-pills > li > a {
    display: block;
    width: 100%;
    max-width: none !important;
  }
}

.nav-pills-gray.nav-pills > li > a:hover, .nav-pills-gray.nav-pills > li > a:focus {
  color: #111;
  background-color: #e1e1e1;
}

.nav-pills-gray.nav-pills > li > a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent transparent transparent;
}

.nav-pills-gray.nav-pills > li:first-child > a {
  border-left: none;
}

.nav-pills-gray.nav-pills > li.active > a,
.nav-pills-gray.nav-pills > li.active > a:hover,
.nav-pills-gray.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #fb8d0c;
}

.nav-pills-gray.nav-pills > li.active > a:after,
.nav-pills-gray.nav-pills > li.active > a:hover:after,
.nav-pills-gray.nav-pills > li.active > a:focus:after {
  border-bottom-color: #fff;
}

.event-part {
  padding: 15px;
  margin-bottom: 8px;
  background-color: whitesmoke;
}

.event-part:nth-child(2n) {
  background-color: #ececec;
}

.event-part h4, .event-part h3 {
  margin-bottom: 5px;
}

.event-part h4 a, .event-part h3 a {
  color: #333;
}

.event-part h4 a:hover, .event-part h4 a:focus, .event-part h3 a:hover, .event-part h3 a:focus {
  color: #0069b0;
}

.event-part .event-time {
  font-weight: 600;
  font-style: italic;
  color: #666;
  margin-bottom: 5px;
}

.event-part .event-meta {
  color: #7e7e7e;
  line-height: 1.5;
}

.event-part .event-meta .event-meta-left {
  float: left;
}

.event-part .event-meta .btn.btn-sm {
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 12px !important;
  margin-top: 10px;
  border-width: 1px;
}

.form-control {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.form-control:focus {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}
